{% extends '../layout.njk' %}

{% block head %}
    <title>Admin | Editar {{ chef.name }}</title>
{% endblock head %}

{% block content %}
    <section class="sub-menu">
        <h1>Editando chef</h1>

        <div class="buttons grid">
            <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ chef.id }}">
                <button id="delete" type="submit">Deletar</button>
            </form>

            <button type="submit" form="form-submit">Salvar chef</button>
        </div>

    </section>

    <form id="form-submit" action="/admin/chefs?_method=PUT" method="POST">
        <section class="card-form">
            {% include 'admin/chefs/fields.njk' %}

            <input
            type="hidden"
            name="id"
            value="{{ chef.id }}"
        >
        </section>
    </form>

    <script>
        const formDelete = document.querySelector("#form-delete")
        formDelete.addEventListener('submit', function (event) {
            const confirmation = confirm('Deseja deletar?')
            if (!confirmation) {
                event.preventDefault()
            }
        })
    </script>

{% endblock content %}