<div class="card-form item">
    <h3>Nome</h3>

    <input 
        type="text"
        name="name"
        speelcheck="true"
        value="{{chef.name}}"
    >
</div>

<div class="card-form item">
    <h3>Avatar</h3>
    <input 
        type="URL"
        name="avatar_url"
        speelcheck="true"
        placeholder="http://"
        value={{chef.avatar_url}}
    >
</div>