{% extends "../layout.njk" %}

{% block head %}
  <title>Foodfy | Chefs</title>
  <link rel="stylesheet" href="styles/chefs.css">
{% endblock %}

{% block content %}
  <section>
    <div class="cards-chefs">
      {% for chef in chefs %}
        <div class="card-chef">
          <div class="card-avatar">
            <img src={{chef.avatar_url}} alt="Imagem de {{chef.name}}">
          </div>
          <div class="card-info">
            <p id="chef_name">{{chef.name}}</p>
            {% if chef.total_recipes == 0 %}
              <p id="total_recipes">Nenhuma receita</p>
            {% elif chef.total_recipes == 1 %}
              <p id="total_recipes">1 receita</p>
            {% else %}  
              <p id="total_recipes">{{chef.total_recipes}} receitas</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}