{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy | Receitas</title>
  <link rel="stylesheet" href="/styles/recipes.css">
{% endblock %}

{% block content %}
  <section class="content">
    <div class="cards">
      {% for recipe in recipes %}
        <div class="card" id="burger">
          <div class="card-image">
            <img src={{recipe.image}} alt="Imagem de {{recipe.title}}">
          </div>
          <div class="card-info">
            <p id="title">{{recipe.title}}</p>
            <p id="chef">por {{recipe.author}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}