/* === INDEXS CHEFS === */
.chef {
  margin-top: 0;
}

.chef tbody {
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.table-container.chef-display tbody {
  grid-template-columns: repeat(2, 1fr);
}

.chef .avatar {
  display: flex;
}

.chef .avatar img {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  object-fit: cover;
}

.table-container .chef img {
  width: 64px;
  height: 64px;

  border-radius: 50%;
  object-fit: cover;
}

.table-container .chef #title {
  margin-top: 10px;
}

.table-container .chef a {
  font: 800 16px;
}

.table-container tr {
  margin: 0;

  display: grid;
  grid-template-columns: 64px 1fr;
}

.table-container.chef-display tr {
  margin: 30px 0;
  width: 400px;

  display: flex;
}

.table-container.chef-display tr td:last-child() {
  display: flex;
}