@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --light-gray-color: #eee;
  --gray-color: #999;
  --medium-gray-color: #777;
  --medium-dark-gray-color: #444;
  --dark-gray-color: #111;
  --light-pink-color: #fbdfdb;
  --light-purple: #6558c3;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;

  height: 100vh;
}



header,
section,
.banner {
  max-width: 940px;
}

header {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

header .container {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  justify-self: center;
}

header .container a {
  justify-self: start;
}

.logo {
  margin-left: 0;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  font-size: 16px;
  color: var(--dark-gray-color);
  text-decoration: none;

  position: relative;
}

.links a::after {
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;

  position: absolute;
  content: "";
  background-color: var(--dark-gray-color);
}

.links a:hover::after {
  width: 100%;
  transition: width 500ms ease-in-out;
}

.links a + a {
  margin-left: 30px;
}

.active {
  font-weight: 700;
}

.search {
  margin: 0 20px;

  display: flex;
  gap: 8px;

  align-items: center;
}

.search input {
  width: 100%;
  height: 37px;

  padding-left: 15px;

  border: 1px solid #ddd;
  border-radius: 4px;
}

form.search button {
  width: 91px;
  height: 37px;

  background: var(--light-purple);
  border-radius: 4px;
  border: none;

  font-weight: bold;
  line-height: 19px;
  color: white;
  cursor: pointer;
}

/* PRIMARY MENU */
nav.primary {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav.primary li a{
  display: flex;

  align-items: center;
  color: var(--light-purple);
  text-decoration: none;
}

nav.primary li {
  list-style-type: none;
}

.content {
  margin-bottom: 50px;
}

.banner {
  width: 100%;
  height: 366px;
  background-color: var(--light-pink-color);

  border-radius: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner .text {
  padding: 117px 60px;
}

h1,
p {
  line-height: 28px;
  text-align: justify;
}

h1,
h2 {
  margin-bottom: 20px;

  color: var(--dark-gray-color);
}

h2 {
  font-size: 20px;
  margin-top: 30px;
}

.paragraph p {
  font-size: 18px;
  text-align: justify;
  color: var(--medium-dark-gray-color);
  line-height: 28px;
}

.banner .text p {
  margin-top: 10px;

  font-size: 18px;
  color: black;

  opacity: 0.7;
}

.banner img {
  margin-top: 66px;
}

section {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card,
.card-modal {
  cursor: pointer;
}

.card-image {
  margin-bottom: 20px;
}

.card img,
.card-modal img {
  width: 300px;
  height: 140px;

  border-radius: 15px;
}

#title {
  margin-bottom: 5px;

  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: var(--dark-gray-color);
}

#chef {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--medium-gray-color);
}

/* MODAL */
.modal-overlay {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;

  opacity: 0;
  visibility: hidden;

  background-color: rgba(0, 0, 0, 0.6);
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 660px;
  height: 413px;
  position: relative;

  display: flex;
  flex-direction: column;

  justify-content: center;

  margin: 20vh auto;

  background: white;
  border-radius: 16px;
}

.modal-image {
  margin-top: 30px;
  margin-bottom: 20px;
}

.modal-image img {
  width: 600px;
  height: 200px;

  border-radius: 15px;
  object-fit: cover;
}

.modal-info p {
  text-align: center;
}

.modal-info #title {
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-gray-color);
}

.modal-info #chef {
  font: 18px "Roboto";
  line-height: 21px;
  color: var(--medium-gray-color);
}

.close-modal {
  margin-top: 60px;
  margin-bottom: 30px;

  font: 16px "Roboto";
  text-align: center;
  color: var(--gray-color);

  cursor: pointer;
}

.close-modal:hover {
  color: var(--medium-dark-gray-color);
}

/* === PAGINAÇÃO === */
.container {
  margin-bottom: 30px;
  display: grid;
}

.pagination {
  align-self: end;
  justify-self: center;
}

.pagination a,
.pagination span {
  color: var(--dark-gray-color);
  background: none;
  margin-right: 16px;
  text-decoration: none;
}

.pagination a:hover {
  filter: brightness(0.3);
  border-bottom: 1px solid var(--dark-gray-color);
}

/* FOOTER */

footer {
  width: 100%;
  height: auto;

  margin-top: auto;
  margin-bottom: 0;

  background-color: var(--light-gray-color);
}

footer p {
  padding: 20px;

  font-size: 14px;
  color: var(--gray-color);
  text-align: center;
}
