<header>
  <div class="menu">
    <div class="logo">
      <a href="/admin/recipes">
        <img src="/assets/admin/logo.png" alt="logo Foodfy">
      </a>
    </div>

    <div class="links">
      <a href="/admin/recipes">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
    </div>
  </div>
</header>